{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-dynamic-import-node"
  ],
  "ignore": ["node_modules", "dist"]
}